
        p {font: size 18px;}
        * {font-family: "Rubik", sans-serif;}
        #today-header {
        position: absolute;
        display: flex;
        align-items: flex-end;
        top: 0px;
        left: 10px;
        }

        #today-date-weekday {
        font-size: 45pt;
        font-weight: lighter;
        }

        #today-date-daymonth {
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 16pt;
        }

        #today-date-day {
        font-weight: bold;
        }
        #today-icon {
        width: 130px;
        height: 130px;
        float: left;
        margin-right: 10px;
        }
        #weather_title {
        font-size: 25pt;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
        }
        #weather_now {
        position: absolute;
        top: 100px;
        left: 10px;
        }
        #weather_forecast {
        position: absolute;
        top: 280px;
        left: 10px;
        }
        #weather_text {
                float: right;
        }
        #weather-description{
        font-size: 20pt;
        font-weight: bold;
        }
        #weather-temp{
        font-size: 20pt;
        font-weight: bold;
        color:orange;
        }
        #weather-tempminmax{
        font-size: 20pt;
        }
        #quote {
        position: absolute;
        top: 0px;
        left: 410px;
        width: 380px;
        }
        #quote-text {
        position: absolute;
        font-size: 15pt;
        top: 68px;
        left: 65px;
        }
        .vl {
        border-left: 1px solid black;
        height: 480px;
        position: absolute;
        left: 48%;
        margin-left: -1px;
        top: 0;
        }
        #calendar {
                position: absolute;
                top: 150px;
                left: 410px;
                width: 380px;
        }
        #tasks {
                position: absolute;
                top: 300px;
                left: 410px;
                width: 380px;
        }
        #task-text {
                font-size: 15pt;
        }